* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #f2ff00;
}

nav {
  height: 70px;
  background: #000000;
  font-weight: 100;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #f2ff00;
  font-weight: 100;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #fff;
}

.hero {
  background: #4f4f4f;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
  align-items: center;
}

.column-left {
  display: flex;
  flex-direction: center;
  align-items: center;
  color: #000;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #f2ff0091;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

button {
  /* padding: 16.5; */
  padding-top: 23.5px;
  padding-bottom: 23.5px;
  padding-left: 23.5px;
  padding-right: 23.5px;
  font-size: 1rem;
  border: none;
  color: #fdcc04;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background: #fff;
  color: #000;
}

.column-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}
